<a href="https://colab.research.google.com/github/fbalsrud/ITB2022/blob/main/%EA%B1%B4%EA%B0%95%EA%B2%80%EC%A7%84%EC%A0%95%EB%B3%B4_%EC%8B%9C%EA%B0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **건강검진정보 데이터 불러오기 및 EDA**

In [ ]:
import pandas as pd
import seaborn as sns

health_data = 'https://raw.githubusercontent.com/fbalsrud/ITB2022/main/health_data.csv'
health = pd.read_csv(health_data)

display(health.head())
print(health.info())

,기준년도,가입자일련번호,시도코드,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석,데이터공개일자
0,2020,1,36,M,9,165,60,72.1,1.2,1.5,...,1.1,21.0,27.0,21.0,No,No,0,NaN,NaN,12/29/2021
1,2020,2,27,F,13,150,65,81.0,0.8,0.8,...,0.5,18.0,15.0,15.0,No,No,0,NaN,NaN,12/29/2021
2,2020,3,11,F,12,155,55,70.0,0.6,0.7,...,0.7,27.0,25.0,7.0,No,No,0,NaN,NaN,12/29/2021
3,2020,4,31,M,13,160,70,90.8,1.0,1.0,...,1.2,65.0,97.0,72.0,No,No,1,0.0,0.0,12/29/2021
4,2020,5,41,F,12,155,50,75.2,1.5,1.2,...,0.7,18.0,17.0,14.0,No,No,0,NaN,NaN,12/29/2021

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   기준년도         10000 non-null  int64
 1   가입자일련번호      10000 non-null  int64
 2   시도코드         10000 non-null  int64
 3   성별코드         10000 non-null  object
 4   연령대코드(5세단위)  10000 non-null  int64
 5   신장(5Cm단위)    10000 non-null  int64
 6   체중(5Kg 단위)   10000 non-null  int64
 7   허리둘레         10000 non-null  float64
 8   시력(좌)        10000 non-null  float64
 9   시력(우)        10000 non-null  float64
 10  청력(좌)        10000 non-null  int64
 11  청력(우)        10000 non-null  int64
 12  수축기혈압        9912 non-null   float64
 13  이완기혈압        9912 non-null   float64
 14  식전혈당(공복혈당)   9912 non-null   float64
 15  총콜레스테롤       4044 non-null   float64
 16  트리글리세라이드     4044 non-null   float64
 17  HDL콜레스테롤     4044 non-null   float64
 18  LDL콜레스테롤     3977 non-null   float64
 19  혈색소          9912 non-null   float64
 20  요단백          9861 non-null   float64
 21  혈청크레아티닌      9912 non-null   float64
 22  (혈청지오티)AST   9912 non-null   float64
 23  (혈청지오티)ALT   9912 non-null   float64
 24  감마지티피        9912 non-null   float64
 25  흡연상태         9998 non-null   object
 26  음주여부         9999 non-null   object
 27  구강검진수검여부     10000 non-null  int64
 28  치아우식증유무      3251 non-null   float64
 29  치석           3251 non-null   float64
 30  데이터공개일자      10000 non-null  object
dtypes: float64(18), int64(9), object(4)
memory usage: 2.4+ MB
None

# **건강검진정보 시각화 #1**
: 흡연상태와 치아우식증 사이의 상관관계

# **건강검진정보 시각화 #2**
: 음주여부와 혈당 및 총콜레스테롤 사이의 상관관계

# **건강검진정보 시각화 #3**
: 허리둘레와 혈정크레아티닌 수치 사이의 상관관계